# Xendit Configuration
XENDIT_SECRET_KEY=xnd_development_JCGzwsaBwnsBS3wPrSIIynK8Ygw93foCsPVBfAYWTz6Y1ZY3KeFUITs5ZH5K
XENDIT_BASE_URL=https://api.xendit.co

# Payment Settings
PAYMENT_TIMEOUT=300000
PAYMENT_CHECK_INTERVAL=10000

# Admin Notification Numbers
ADMIN_1=6281389592985
ADMIN_2=6285235540944

# Environment
NODE_ENV=development 

# Postgres
PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=bot_wa
PG_USER=botwa
PG_PASSWORD=changeme
USE_PG=false